{
  "extends": [
    "next/core-web-vitals",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "sort-imports": 0,
    "import/order": 1,
    "import/no-named-as-default": 0
  }
}
